@font-face {
  font-family: 'Title';
  src: url('../../public/fonts/Neglige.otf');
}
@font-face {
  font-family: 'Body';
  src: url('../../public/fonts/NeueMontreal_Medium.otf');
}

body{
  margin: 0px;
  font-family: 'Body';
  background-color: #F8EAF8;
  background-image: url("/public/images/bgbg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h2{
  font-family: 'Title';
}
