.main {
	position: relative;
	margin-top: 10vh;
	padding: 20px;
	// background-image: url("/public/images/bgbg.jpg");
	// background-size: cover;
	// background-position: center;
	// background-repeat: no-repeat;
    background-color: #EBD2EF;
}
